body {
    background-color: #0d141c;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  .title {
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    color: #e52d27;
  }
  
  #countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .countdown-section {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
  
  .countdown-amount {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .countdown-period {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  
  /* Thème de Noël */
  
  #countdown {
    border: 5px solid #e52d27;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #d73831;
    padding: 20px;
  }
  
  .countdown-amount {
    color: #f8f8f8;
    font-size: 100px;
  }
  
  .countdown-period {
    color: #f8f8f8;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }
  
  #days {
    background-color: #e52d27;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #hours {
    background-color: #e52d27;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #minutes {
    background-color: #e52d27;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #seconds {
    background-color: #e52d27;
    border-radius: 10px;
    padding: 10px;
  }
  
  .countdown-section:last-child {
    margin-bottom: 0;
  }
  